---
layout: default
---

<div id="portfolio-container"></div>
<script>
  var portfolio = [
    {% for post in site.posts %}
    {
      url: '{{ post.url }}',
      title: '{{ post.title }}',
      thumbnail: '{{ post.thumbnail }}',
      thumbnail_w: '{{ post.thumbnail_w }}',
      thumbnail_h: '{{ post.thumbnail_h }}'
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ];
  function bildergalerie() {
    var __windowWidth = $(window).width();
    var __rowHeight = 550;

    if (__windowWidth < 1200) {
      __rowHeight = 400;
    }
    else if (__windowWidth < 920) {
      __rowHeight = 300;
    }

    $('#portfolio-container').empty().justifiedImages({
        images: portfolio,
        rowHeight: __rowHeight,
        maxRowHeight: 1000,
        thumbnailPath: function(photo, width, height){
          return photo.thumbnail;
        },
        getSize: function(photo){
          return { width: photo.thumbnail_w, height: photo.thumbnail_h };
        },
        template: function(data) {
          return '<a href="' + data.url + '" class="photo-container" style="margin-right:' + data.marginRight + 'px;"><div class="photo"><img class="image-thumb" src="' + data.src + '" style="width:' + data.displayWidth + 'px;height:' + data.displayHeight + 'px;" ></div><div class="caption">' + data.title + '</div></a>';
        },
        margin: 6
    });
  }

  bildergalerie();
  $(window).resize(bildergalerie);
</script>
