---
layout: default
---

<div id="portfolio-container"></div>
<script>
  var portfolio = [
    {% for post in site.posts %}
    {
      url: '{{ post.url }}',
      title: '{{ post.title }}',
      thumbnail: '{{ post.thumbnail }}',
      thumbnail_w: '{{ post.thumbnail_w }}',
      thumbnail_h: '{{ post.thumbnail_h }}'
    }{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ];
  $('#portfolio-container').empty().justifiedImages({
      images: portfolio,
      rowHeight: 550,
      maxRowHeight: 800,
      thumbnailPath: function(photo, width, height){
        return photo.thumbnail;
      },
      getSize: function(photo){
        return {width: photo.thumbnail_w, height: photo.thumbnail_h};
      },
      margin: 0
  });
</script>

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
