#container
  width 100%
  height auto
  margin 45px 0 145px

  h1
    padding 0 5px

  div
    line-height 0
    &.description
      margin-top $global-line-height
      line-height $global-line-height
      padding 0 5px
      p
        margin-bottom $global-line-height
    img
      max-width 100%
      height auto
      line-height 0
