html
  height 100%

body
  width 100%
  min-width 320px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust none
  text-rendering optimizeLegibility
  font-family PulpDisplay, sans-serif
  font-size $global-font-size
  line-height $global-line-height
  color $global-text-color
  background $global-background
  +below(___)
    font-size $global-font-size - 0.2
    line-height $global-line-height - 0.4
  +below(__)
    font-size $global-font-size - 0.3
    line-height $global-line-height - 0.5
  +below(_)
    font-size $global-font-size - 0.4
    line-height $global-line-height - 0.6
  +above(_____)
    font-size $global-font-size * 1.5
    line-height $global-line-height * 1.5
  +above(______)
    font-size $global-font-size * 4
    line-height $global-line-height * 4

a
  color $link-color
  text-decoration none
  &:active
    color $link-active-color
  &:visited
    color $link-visited-color
  &:hover
    color $link-hover-color
  +below(__)
    &:active
      color $link-color
    &:visited
      color $link-color
    &:hover
      color $link-color

#page
  height 100%
