// ======= breakpoint =======
_ = 540px
__ = 768px
___ = 960px
____ = 1120px


// === global
$global-text-color     = #515151
$global-sub-text-color = #AAAAAA
$global-background     = #FFFFFF
$global-border-color   = #CFCFCF
$global-font-size      = 1.5rem
$global-line-height    = 2.5rem


// === navigation
$navigation-text-color  = #000000
$navigation-font-size   = 2.5rem
$navigation-line-height = 2.5rem
$navigation-item-margin = 1.5rem


// === link
$link-color          = #000
$link-hover-color    = #333
$link-active-color   = #333
$link-visited-color  = #000
