// === BREAKPOINT
_    = 540px
__   = 768px
___  = 960px
____ = 1120px


// === GLOBAL
$global-text-color     = #000000
$global-sub-text-color = #666666
$global-background     = #FFFFFF
$global-font-size      = 1.5rem
$global-line-height    = 2.5rem


// === BIG TEXT
$bigtext-text-color  = #000000
$bigtext-font-size   = 3.5rem
$bigtext-line-height = 3.5rem
$bigtext-item-margin = 1.5rem


// === LINK
$link-color          = #000000
$link-hover-color    = #0000FF
$link-active-color   = #0000FF
$link-visited-color  = #000000
