<header id="header" class="header">
  <a href="/" class="brand"><img src="/images/logo.png" /></a>
  <ul class="header-nav">
    <li>
      HOUTH
    </li>
    <li class="mobile-hide">
      <a href="/">WORKS</a>
    </li>
    <li class="mobile-hide">
      <a href="/about">ABOUT</a>
    </li>
  </ul>
</header>
<div class="mobile-nav">
  <ul>
    <li>
      <a href="/">WORKS</a>
    </li>
    <li>
      <a href="/about">ABOUT</a>
    </li>
  </ul>
  <ul class="sns-links">
    <li>
      <a href="https://www.behance.net/HOUTH" target="_blank">BEHANCE</a>
    </li>
    <li>
      <a href="https://www.instagram.com/houth.tw/" target="_blank">INSTAGRAM</a>
    </li>
    <li>
      <a href="https://www.facebook.com/houth.tw/" target="_blank">FACEBOOK</a>
    </li>
  </ul>
</div>
<div class="mobile-nav-button">
  <span></span>
  <span></span>
</div>
<div id="mobile-nav-logo">
  <img src="/images/logo.png" />
</div>
