.fields-column-2
  display flex
  justify-content space-between

  .column
    margin-bottom 0

  > .column
    width "calc(100% / 2 - %s)" % ($global-padding * 2)

  .column-8
    width "calc(100% / 12 * 8 - %s)" % ($global-padding * 2)

  .column-4
    width "calc(100% / 12 * 4 - %s)" % ($global-padding * 2)

  +below(___)
    &.pad-full-width
      display block
      .column
        width 100%

  +below(__)
    &.mobile-full-width
      display block
      .column
        width 100%

.fields-column-4
  display flex
  justify-content space-between

  > .column
    width "calc(100% / 4 - %s)" % ($global-padding * 2)
