.about-sns
  padding 0 $global-padding

  span
    big-text()
    line-height 1.2
    margin-right $bigtext-item-margin
    +below(___)
      margin-right $bigtext-item-margin - .2
    +below(__)
      display block
      margin-right 0
