.header
  position fixed
  top 0
  left 0
  right 0
  z-index 1000
  padding $global-padding
  padding-bottom 0
  background $global-background
  +above(_____)
    padding $global-padding*1.5
    padding-bottom 0
  +above(______)
    padding $global-padding*4
    padding-bottom 0

  .header-nav
    navigation()

  .brand
    position fixed
    top 20px
    right 30px

    img
      max-width 200px
      height auto

    +below(__)
      display none
    +above(___)
      img
        max-width 300px
    +above(_____)
      top 40px
      right 40px
      img
        max-width 400px
    +above(______)
      top 80px
      right 80px
      img
        max-width 1000px
