.header
  position fixed
  top 0
  left 0
  right 0
  z-index 1000
  padding $global-padding $global-padding 0 $global-padding
  background $global-background

  ul.header-nav
    navigation()

  .brand
    position fixed
    top 20px
    right 30px

    img
      max-width 200px
      height auto

    +below(_)
      display none
