.header
  position fixed
  top 0
  left 0
  right 0
  z-index 1000
  padding 6px 6px 0 6px
  background $global-background

  ul.header-nav
    navigation()

  .brand
    big-text()
    float right
    +below(_)
      display none
