#mobile-logo
  position fixed
  top 0
  right 0
  z-index 4268
  padding 0 $global-padding
  text-align right
  margin-top 45px
  +below(_)
    margin-top 34px
  img
    max-height 115px
    width auto
    +below(_)
      max-height 75px

#mobile-nav-logo
  position fixed
  top $global-padding + 1px
  right $global-padding + 40px
  z-index 4268
  +above(__)
    display none
  img
    max-height 24px
    width auto
