big-text()
  font-size $bigtext-font-size
  line-height $bigtext-line-height
  color $bigtext-text-color
  padding 0

  +below(___)
    font-size $bigtext-font-size - .2
  +below(__)
    font-size $bigtext-font-size - .4
  +below(_)
    font-size $bigtext-font-size - 1.5
  +above(_____)
    font-size $bigtext-font-size * 1.5
    line-height $bigtext-line-height * 1.5
  +above(______)
    font-size $bigtext-font-size * 4
    line-height $bigtext-line-height * 4
