big-text()
  font-size $bigtext-font-size
  line-height $bigtext-line-height !important
  color $bigtext-text-color
  padding 0

  +below(___)
    font-size $bigtext-font-size - .2
  +below(__)
    font-size $bigtext-font-size - .8
  +below(_)
    font-size $bigtext-font-size - 1
