navigation()
  list-style none
  margin 0
  padding 0
  float left
  li
    big-text()
    list-style none
    display inline-block
    margin-right $bigtext-item-margin
    +below(___)
      margin-right $bigtext-item-margin - .2
    +below(__)
      margin-right $bigtext-item-margin - .5
    +below(_)
      margin-right $bigtext-item-margin - .7
